.left_side{
    background-color: #314152;
    height: 100px;
}
.item_line{
    margin-top: 35px;
}
.item_list{
    width: 27%;
    height: 250px;
    border: 1px solid black;
    margin-left: 40px;
    border-radius: 8px;
    background: #335b87;
}
.btn_lap{
    margin-left: 40px;
    margin-top: 10px;
}
.imgs{
    height: 125px;
    width: 145px;
    margin: 15px 70px;
}
.left_bar{
    background: #335b87;
    height: 450px;
    padding: 5px 0 20px 0;
    margin: 35px 20px 0 50px;
    width: 100%;
    border-radius: 5px;
}
.left_bar_names{
    padding: 10px 0 10px 30px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    font-size: 20px;
}
.left_bar_names:hover{
    background-color: black;
    cursor: pointer;
}
.left_topic1{
    padding: 10px 0 20px 0;
    text-align: center;
}
#left1:hover, #left2:hover, #left3:hover, #left4:hover, #left5:hover {
    background: steelblue;
    cursor: pointer;
}
#pagination{
    float: right;
    margin-right: 55px;
}
.pages{
    background: darkslateblue;
    padding: 5px 10px;
    margin-left: 8px;
    color: white;
    cursor: pointer;
}
.content{
    margin-top: 110px;
    margin-bottom: 35px;
}

.backdrop{
    margin-top: 150px;
}
.modal-dialog {
    margin-right: 10;
    margin-top: 2000;
 }
 .modal-backdrop.in {
    opacity: 0.9;
}
.lapTable{
    text-align: center;
}
#detail{
    background-color:#335b87;
    color: beige;
}
.processor{
    margin-left: 100px;
}

