<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Laptop Browse-->

<body>
  <div class="container-fluid content">
    <div class="row">
      <!--Left Side Bar-->
      <div class="col-3">
        <div class="row">
          <div class="col-10 left_bar text-white">
            <div class="left_bar_names" id="left1">ASUS</div>
            <div class="left_bar_names" id="left2">ACER</div>
            <div class="left_bar_names" id="left3">DELL</div>
            <div class="left_bar_names" id="left4">HP</div>
            <div class="left_bar_names" id="left5">MAC BOOK</div>
          </div>
        </div>
      </div>
      <!----------------->
      <!--Right Side Item List-->
      <div class="col-9 right_side">
        <div class="row item_line">
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell XSP 15</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron ChromeBook</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
        </div>
        <div class="row item_line">
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell XSP 15</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron ChromeBook</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
        </div>
        <div class="row item_line">
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell XSP 15</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron ChromeBook</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
          <div class="item_list">
            <img src="" class="imgs">
            <div class="text-center">Dell Inspiron</div>
            <button class="btn btn-info btn_lap">View</button>
            <button class="btn btn-primary btn_lap">Compare</button>
          </div>
        </div>
      </div>
      <!------------------>
    </div>
  </div>
</body>
<!--------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->