<div class="container-fluid" id="footer">
    <div class="row">
        <div id="footer_list">
            <ul>
                <li>
                    <a href="about_us">ABOUT US</a>
                </li>
                <li>
                    <a href="contact">CONTACT US</a>
                </li>
                <li>
                    <a href="browse/pcparts/ram/all">PRODUCTS</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
        <div id="footer_service">
            Our Services
            <p>We Provide the best solutions for pc assemblers to assemble their pc.</p>
        </div>
        <div id="social_media">
            <img src="assets/img/facebook.png" class="social_logo">
            <img src="assets/img/twitter.png" class="social_logo">
            <img src="assets/img/linkedin.png" class="social_logo">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>© 2019 All Rights Reserved</p>
        </div>
    </div>
</div>

<!-- <div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-3" id="footer_list">
            <ul>
                <li>
                    <a href="about_us">ABOUT US</a>
                </li>
                <li>
                    <a href="contact">CONTACT US</a>
                </li>
                <li>
                    <a href="browse/pcparts/ram/all">PRODUCTS</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-4" id="footer_service">
            Our Services
            <p>We Provide the best solutions for pc assemblers to assemble their pc.</p>
        </div>
        <div class="col-4" id="social_media">
            <img src="assets/img/facebook.png" id="fb">&nbsp;&nbsp;
            <img src="assets/img/twitter.png" id="twitter">&nbsp;&nbsp;
            <img src="assets/img/linkedin.png" id="linkedin">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>© 2019 All Rights Reserved</p>
        </div>
    </div>
</div> -->