<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Build for requirements part-->
<div class="container content">
  <div class="row">
    <div class="col-12 header">
      <label class="text-white">Enter A Game</label>
      <input type="text" class="search form-control" placeholder="Search Game">
      <button class="btn btn-info srch_btn">Search</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 upper_part">
      <div class="topic1"><b>System Requirements</b></div>
      <div class="lower_part_list">
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-10">2.4 GHz Intel Core i5 </div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-10">4GB Memory </div>
        </div>
        <div class="row">
          <div class="col-2">GPU</div>
          <div class="col-10">DirectX 11 graphic card with 1TB Video RAM</div>
        </div>
        <div class="row">
          <div class="col-2">Storage</div>
          <div class="col-10">Atleast 17GB of free space</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 lower_part">
      <div class="topic1"><b>PC Parts List</b></div>
      <div class="lower_part_list">
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-10">Intel Core i5 5100 3.6 GHz 4-core</div>
        </div>
        <div class="row">
          <div class="col-2">Motherboard</div>
          <div class="col-10">Gigabyte Auros B360 Gaming 3</div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-10">4GB DDR4 2666 MHz</div>
        </div>
        <div class="row">
          <div class="col-2">VGA</div>
          <div class="col-10">Gigabyte GForce GT 1030 2GB GDDR5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->