<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Build for requirements part-->
<div class="container content">
  <div class="row">
    <div class="col-12 header">
      <label class="text-white">Enter A Game</label>
      <input type="text" class="search form-control" placeholder="Search Game">
      <button class="btn btn-info srch_btn">Search</button>
    </div>
  </div>

  <div class="row" *ngIf="game">
    <div class="col-12  upper_part">
      <div class="topic1" > <b>System Requirements</b> <br>
        <img class=" game_image" width= "324" hight= "200" src="{{ game.imageSource }}">
        <div class="game_name"><b>{{ game.name }}</b>
        </div>
         
      </div>
      <div>
       
      </div>

      <div class="lower_part_list"> 
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-10">{{ game.cpu }}</div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-10">{{ game.ram }}</div>
        </div>
        <div class="row">
          <div class="col-2">GPU</div>
          <div class="col-10">{{ game.graphics }}</div>
        </div>
        <div class="row">
          <div class="col-2">Storage</div>
          <div class="col-10">{{ game.storage }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 lower_part">
      <div class="topic1"><b>PC Parts List</b></div>
      <div class="lower_part_list">
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-10">Intel Core i5 4000 3.0 GHz 4-core</div>
        </div>
        <div class="row">
          <div class="col-2">Motherboard</div>
          <div class="col-10">Asus TUF B365-PLUS GAMING</div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-10">8GB DDR4 Kingston 3200 MHz</div>
        </div>
        <div class="row">
          <div class="col-2">VGA</div>
          <div class="col-10">ASUS GForce GT 1050 2GB GDDR5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->