.content{
    background: url('/assets/img/1.jpg') no-repeat right;
    background-size: cover;
    background-attachment: fixed;
    min-height: 657px;
    width: 100%;
}
a{
    text-decoration: none;
}
.register_content{
    border: 3px solid white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.topic{
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 0 0 10px 20px;
}
.register_content2{
    padding: 40px 20px;
}
#submit1{
    margin: 20px 0 0 0;
    width: 100%;
}
.topic_up{
    font-size: 22px;
}
.vendor_link{
    margin-top: 30px;
}
.social_media{
    margin-top: 25px;
}

#footer{
    padding: 25px 25px 5px 25px;
}
#fb:hover{
    transform: rotate(-15deg);
    cursor: pointer;
}
#twitter:hover{
    transform: rotate(-15deg);
    cursor: pointer;
}
#linkedin:hover{
    transform: rotate(-15deg);
    cursor: pointer;
}