<!--Register for Customers section-->
<div class="container-fluid content">
  <div class="row">
    <div class="col-12">
      <a href="/home">
        <img src="assets/img/logo.png" id="logo" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-white text-center topic_up">
      <b>Create Your Account</b>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 register_content">
      <div class="row">
        <div class="col-12 topic text-white">
          <b>Sign Up</b>
        </div>
      </div>
      <div class="row">
        <div class="col-12 register_content2">
          <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="username" class="form-control fields" placeholder="Username" formControlName="username" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control fields" placeholder="Email" formControlName="email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control fields" placeholder="Password" formControlName="password" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control fields" placeholder="Re-Password" formControlName="re_password" required>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="Register">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 topic text-white">
          <b>
            <a routerLink="/login" routerLinkActive="active">Already a Member ?</a>
          </b>
        </div>
      </div>
      <div class="row vendor_link">
        <div class="col-12 text-white">
          <b>
            <a routerLink="/register/vendor" routerLinkActive="active">Do You Own A Business? Register Here !</a>
          </b>
        </div>
      </div>
      <div class="row social_media">
        <div class="col-12 text-center">
          <img src="assets/img/facebook.png" id="fb">&nbsp;&nbsp;
          <img src="assets/img/twitter.png" id="twitter">&nbsp;&nbsp;
          <img src="assets/img/linkedin.png" id="linkedin">
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->