body{
    margin: 0;
}
.checked{
    color: orange;
}
a{
    text-decoration: none;
    color: white;
}
.a_link{
    color: white;
    cursor: pointer;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../assets/img/logo.png') center no-repeat #fff;
}
@media only screen and (max-width:576px){

}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:1200px){

}

@media only screen and (min-width:1200px){
    #content_head{
        margin: 25px 0 15px 0;
        background: #1761A0;
        color: white;
        padding: 10px 0;
        border-radius: 8px;
    }
    .content_topic{
        margin-top: 30px;
    }
    .content{
        background: #3f7cb5;
        padding: 15px 0;
        border-radius: 5px;
    }
    #container{
        margin-top: 125px;
        margin-bottom: 20px;
    }
    .item_list{
        margin-top: 10px;
    }
    #price_right{
        text-align: right;
    }
    .component{
        margin-top: 40px;
    }
    form button{
        margin-top: -10px;
    }
    .text_box{
        width: 200px;
        display: inline;
    }
    .buttons{
        display: inline;
    }
    .redirect{
        cursor: pointer;
    }
    .slider {
        -webkit-appearance: none;
        width: 150px;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
}