<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TechRing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" id="container">
    <div class="row" id="content_head">
      <div class="col-6 content_topic">Build PC for your Budget</div>
      <div class="col-6">
        <label for="formControlRange" class="col-2" id="price_left">0 Rs.</label>
        <label for="formControlRange" class="col-10" id="price_right">10,000 Rs.</label>
        <input type="range" class="form-control-range" id="formControlRange">
      </div>
    </div>
    <div class="row item_list">
      <div class="col-3 text-center">
        <span>CPU</span>
      </div>
      <div class="col-9 content text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="80px" width="80px">
            </div>
            <div class="col-5">
              <div class="row"><span>Intel Core i7 8100 3.6GHz 4-core/4-thread</span></div>
              <div class="row text-center"><button>Replace</button></div>
            </div>
            <div class="col-3">Rs. 25,000.00 /=</div>
            <div class="col-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-3 text-center">
        <span>MOTHERBOARD</span>
      </div>
      <div class="col-9 content text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="80px" width="80px">
            </div>
            <div class="col-5">
              <div class="row"><span>Intel Core i7 8100 3.6GHz 4-core/4-thread</span></div>
              <div class="row text-center"><button>Replace</button></div>
            </div>
            <div class="col-3">Rs. 25,000.00 /=</div>
            <div class="col-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-3 text-center">
        <span>RAM</span>
      </div>
      <div class="col-9 content text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="80px" width="80px">
            </div>
            <div class="col-5">
              <div class="row"><span>Intel Core i7 8100 3.6GHz 4-core/4-thread</span></div>
              <div class="row text-center"><button>Replace</button></div>
            </div>
            <div class="col-3">Rs. 25,000.00 /=</div>
            <div class="col-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-3 text-center">
        <span>VGA</span>
      </div>
      <div class="col-9 content text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="80px" width="80px">
            </div>
            <div class="col-5">
              <div class="row"><span>Intel Core i7 8100 3.6GHz 4-core/4-thread</span></div>
              <div class="row text-center"><button>Replace</button></div>
            </div>
            <div class="col-3">Rs. 25,000.00 /=</div>
            <div class="col-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-3 text-center">
        <span>PROCESSOR</span>
      </div>
      <div class="col-9 content text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="80px" width="80px">
            </div>
            <div class="col-5">
              <div class="row"><span>Intel Core i7 8100 3.6GHz 4-core/4-thread</span></div>
              <div class="row text-center"><button>Replace</button></div>
            </div>
            <div class="col-3">Rs. 25,000.00 /=</div>
            <div class="col-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6"></div>
      <div class="col-2">
        <span>Total Budget</span>
      </div>
      <div class="col-2">
        <span>Rs. 88,000 /=</span>
      </div>
    </div>

    <div class="row">
      <div class="col-10"></div>
      <div class="col-2"><a href="">Try it different</a></div>
    </div>
  </div>
</body>

</html>
<script src="../../assets/js/main.js"></script>