<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Build For Price-->

<body>
  <div class="container" id="container">
    <div class="row" id="content_head">

      <div class="col-4 content_topic">Build PC for your Budget</div>
      <div class="col-4">
        <form [formGroup]="sliderForm">
          <label>Rs. {{ sliderForm.value.sliderControl[0] }}.00</label>
          <label style="float: right">Rs. {{ sliderForm.value.sliderControl[1] }}.00</label>
          <ng5-slider [options]="options" formControlName="sliderControl"
            (mouseup)="budgetPlan(sliderForm.value.sliderControl[0],sliderForm.value.sliderControl[1])"></ng5-slider>
        </form>
      </div>
      <div class="col-4 content_topic">
        <button type="button" class="btn btn-info buttons" data-toggle="modal" data-target="#createModel"
          style="width: 200px;float: right">Set Prices</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <button class="a_link btn btn-success" (click)="differentPlan()">Try it different</button>
      </div>
    </div>

    <div class="row item_list">
      <div class="col-2 text-center">
        <div class="component">MOTHERBOARD</div>
      </div>

      <div class="col-10 content text-white">
        <div class="container-fluid">
          <div class="row">
            <ng-template [ngIf]="model.motherboardVisible" [ngIfElse]="elseisVisible">
              <ng-template [ngIf]="model.Motherboard !=''" [ngIfElse]="elseMotherboardBlock">
                <div class="col-2">
                  <img src="{{ model.Motherboard.image }}" height="80px" width="80px">
                </div>
                <div class="col-5">
                  <div class="row">
                    <a href="/product_details/motherboard/{{model.Motherboard._id.$oid}}">{{ model.Motherboard.name }}</a>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-info" (click)="changePCPart('motherboard')">Replace</button>
                  </div>
                </div>
                <div class="col-3">Rs. {{ model.Motherboard.price }} /=</div>
                <div class="col-2">
                  <span style="color: greenyellow;font-size: 20px;">+{{ model.Motherboard.user_rating*20 }}% </span>
                </div>
              </ng-template>
              <ng-template #elseMotherboardBlock>
                <div class="col-12 text-center">No Motherboard selected</div>
              </ng-template>
            </ng-template>
            <ng-template #elseisVisible>
              <div class="col-12 he" id="right_side">
                <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="75" width="75" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <div class="row item_list">
      <div class="col-2 text-center">
        <div class="component">CPU</div>
      </div>
      <div class="col-10 content text-white">
        <div class="container-fluid">
          <div class="row redirect">
            <ng-template [ngIf]="model.cpuVisible" [ngIfElse]="elseisVisible">
              <ng-template [ngIf]="model.Cpu !=''" [ngIfElse]="elseCpuBlock">
                <div class="col-2">
                  <img src="{{ model.Cpu.image }}" height="80px" width="80px">
                </div>
                <div class="col-5">
                  <div class="row">
                    <a href="/product_details/cpu/{{model.Cpu._id.$oid}}">{{ model.Cpu.name }}</a>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-info" (click)="changePCPart('cpu')">Replace</button>
                  </div>
                </div>
                <div class="col-3">Rs. {{ model.Cpu.price}} /=</div>
                <div class="col-2">
                  <span style="color: greenyellow;font-size: 20px;">+{{ model.Cpu.user_rating*20 }}%</span>
                </div>
              </ng-template>
              <ng-template #elseCpuBlock>
                <div class="col-12 text-center">No CPU selected</div>
              </ng-template>
            </ng-template>
            <ng-template #elseisVisible>
              <div class="col-12 he" id="right_side">
                <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="75" width="75" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-2 text-center">
        <div class="component">RAM</div>
      </div>
      <div class="col-10 content text-white">
        <div class="container-fluid">
          <div class="row redirect">
            <ng-template [ngIf]="model.ramVisible" [ngIfElse]="elseisVisible">
              <ng-template [ngIf]="model.Ram !=''" [ngIfElse]="elseRamBlock">
                <div class="col-2">
                  <img src="{{ model.Ram.image }}" height="80px" width="80px">
                </div>
                <div class="col-5">
                  <div class="row">
                    <a href="/product_details/ram/{{model.Ram._id.$oid}}">{{ model.Ram.name }}</a>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-info" (click)="changePCPart('ram')">Replace</button>
                  </div>
                </div>
                <div class="col-3">Rs. {{ model.Ram.price }} /=</div>
                <div class="col-2">
                  <span style="color: greenyellow;font-size: 20px;">+{{ model.Ram.user_rating*20 }}%</span>
                </div>
              </ng-template>
              <ng-template #elseRamBlock>
                <div class="col-12 text-center">No RAM selected</div>
              </ng-template>
            </ng-template>
            <ng-template #elseisVisible>
              <div class="col-12 he" id="right_side">
                <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="75" width="75" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-2 text-center">
        <div class="component">VGA</div>
      </div>
      <div class="col-10 content text-white">
        <div class="container-fluid">
          <div class="row redirect">
            <ng-template [ngIf]="model.vgaVisible" [ngIfElse]="elseisVisible">
              <ng-template [ngIf]="model.Vga !=''" [ngIfElse]="elseVgaBlock">
                <div class="col-2">
                  <img src="{{ model.Vga.image }}" height="80px" width="80px">
                </div>
                <div class="col-5">
                  <div class="row">
                    <a href="/product_details/vga/{{model.Vga._id.$oid}}">{{ model.Vga.name }}</a>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-info" (click)="changePCPart('vga')">Replace</button>
                  </div>
                </div>
                <div class="col-3">Rs. {{ model.Vga.price }} /=</div>
                <div class="col-2">
                  <span style="color: greenyellow;font-size: 20px;">+{{ model.Vga.user_rating*20 }}%</span>
                </div>
              </ng-template>
              <ng-template #elseVgaBlock>
                <div class="col-12 text-center">No VGA selected</div>
              </ng-template>
            </ng-template>
            <ng-template #elseisVisible>
              <div class="col-12 he" id="right_side">
                <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="75" width="75" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row item_list">
      <div class="col-2 text-center">
        <div class="component">Hard Disk</div>
      </div>
      <div class="col-10 content text-white">
        <div class="container-fluid">
          <div class="row redirect">
            <ng-template [ngIf]="model.hard_diskVisible" [ngIfElse]="elseisVisible">
              <ng-template [ngIf]="model.Hard_Disk !=''" [ngIfElse]="elseHard_DiskBlock">
                <div class="col-2">
                  <img src="{{ model.Hard_Disk.image }}" height="80px" width="80px">
                </div>
                <div class="col-5">
                  <div class="row">
                    <a href="/product_details/hard_disk/{{model.Hard_Disk._id.$oid}}">{{ model.Hard_Disk.name }}</a>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-info" (click)="changePCPart('hard_disk')">Replace</button>
                  </div>
                </div>
                <div class="col-3">Rs. {{ model.Hard_Disk.price }} /=</div>
                <div class="col-2">
                  <span style="color: greenyellow;font-size: 20px;">+{{ model.Hard_Disk.user_rating*20 }}%</span>
                </div>
              </ng-template>
              <ng-template #elseHard_DiskBlock>
                <div class="col-12 text-center">No Hard Disk selected</div>
              </ng-template>
            </ng-template>
            <ng-template #elseisVisible>
              <div class="col-12 he" id="right_side">
                <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="75" width="75" />
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6"></div>
      <div class="col-2">
        <span>Total Budget</span>
      </div>
      <div class="col-2">
        <span>Rs. {{ model.total_price }} /=</span>
      </div>
    </div>


  </div>

  <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <table class="table table-borderless">
            <tbody [formGroup]="model.settingsForm">
              <h3 class="text-center">Add Price Limitations</h3>
              <tr>
                <th>
                  <b>RAM</b>
                </th>
                <td>
                  <input type="text" class="form-control text_box" formControlName="ram_min" name="ram_min"
                    placeholder="Minimum Value" required>&nbsp;
                  <input type="text" class="form-control text_box" formControlName="ram_max" name="ram_max"
                    placeholder="Maximum Value" required>
                </td>
              </tr>
              <tr>
                <th>
                  <b>VGA</b>
                </th>
                <td>
                  <input type="text" class="form-control text_box" formControlName="vga_min" name="vga_min"
                    placeholder="Minimum Value" required>&nbsp;
                  <input type="text" class="form-control text_box" formControlName="vga_max" name="vga_max"
                    placeholder="Maximum Value" required>
                </td>
              </tr>
              <tr>
                <th>
                  <b>CPU</b>
                </th>
                <td>
                  <input type="text" class="form-control text_box" formControlName="cpu_min" name="cpu_min"
                    placeholder="Minimum Value" required>&nbsp;
                  <input type="text" class="form-control text_box" formControlName="cpu_max" name="cpu_max"
                    placeholder="Maximum Value" required>
                </td>
              </tr>
              <tr>
                <th>
                  <b>Motherboard</b>
                </th>
                <td>
                  <input type="text" class="form-control text_box" formControlName="motherboard_min"
                    name="motherboard_min" placeholder="Minimum Value" required>&nbsp;
                  <input type="text" class="form-control text_box" formControlName="motherboard_max"
                    name="motherboard_max" placeholder="Maximum Value" required>
                </td>
              </tr>
              <tr>
                <th>
                  <b>Hard Disk</b>
                </th>
                <td>
                  <input type="text" class="form-control text_box" formControlName="hard_disk_min" name="hard_disk_min"
                    placeholder="Minimum Value" required>&nbsp;
                  <input type="text" class="form-control text_box" formControlName="hard_disk_max" name="hard_disk_max"
                    placeholder="Maximum Value" required>
                </td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-success" data-dismiss="modal"
                    (click)="settingsSubmit()">Submit</button>
                  &nbsp;
                  <button type="reset" class="btn btn-info">Clear</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<!------------------------>

<!--Footer-->
<app-footer></app-footer>
<!---------->