<!-- Menu Bar -->
<app-menu-bar></app-menu-bar>
<!-------------->

<body>
  <div class="container" id="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">About Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="members text-center">
          <img src="" class="mem_img">
          <div>Member 1</div>
        </div>
        <div class="members text-center">
          <img src="" class="mem_img">
          <div>Member 2</div>
        </div>
        <div class="members text-center">
          <img src="" class="mem_img">
          <div>Member 3</div>
        </div>
        <div class="members text-center">
          <img src="" class="mem_img">
          <div>Member 4</div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12">
        <p>4 Sri Lanka Institute of Information Technology(SLIIT) undergraduates came up with an idea of making a web solution for PC assemblers, pc parts and laptop seekers as well as vendors who sell those items.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 gmap">
        aa
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center"><h4>Where Can You Find Us</h4></div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <h5>Address</h5>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        Additional Details
      </div>
    </div>
  </div>
</body>

<!-- Footer -->
<app-footer></app-footer>
<!------------>