<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Build for requirements part-->
<div class="container content">
  <div class="row">
    <div class="col-12 header">
      <label class="text-white">Enter A Game</label>
      <input type="text" class="search form-control" placeholder="Search Game">
      <button class="btn btn-info srch_btn">Search</button>
    </div>
  </div>

  <div *ngFor="let p of game; let i=index;">
    <div class="row">
      <div class="col-12  upper_part">
        <div class="topic1"><b>System Requirements</b> <br>
          <img class=" game_image" width= "324" hight= "200" src="{{ p.imageSource }}">
          <button class="btn btn-info get_parts_btn" ><a routerLink="/build_for_gaming/pc-part-list" routerLinkActive="active">Get PC Parts List</a></button>
          <div class="game_name"><b>{{ p.name }}</b>
          </div>
           
        </div>
        <div>
         
        </div>

        <div class="lower_part_list">
          <div class="row">
            <div class="col-2">Name</div>
            <div class="col-10">{{ p.name }}</div>
          </div>
          <div class="row">
            <div class="col-2">CPU</div>
            <div class="col-10">{{ p.cpu }}</div>
          </div>
          <div class="row">
            <div class="col-2">RAM</div>
            <div class="col-10">{{ p.ram }}</div>
          </div>
          <div class="row">
            <div class="col-2">GPU</div>
            <div class="col-10">{{ p.graphics }}</div>
          </div>
          <div class="row">
            <div class="col-2">Storage</div>
            <div class="col-10">{{ p.storage }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12 upper_part">
      <div class="topic1"><b>System Requirements</b></div>
      <div class="lower_part_list">
        <div class="row">
          <div class="col-2">CPU</div> 
          <div class="col-5">{{ game[0].name }}</div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-5">{{ game[0].ram }}</div>
        </div>
        <div class="row">
          <div class="col-2">GPU</div>
          <div class="col-5">{{ game[0].gpu }}</div>
        </div>
        <div class="row">
          <div class="col-2">Storage</div>
          <div class="col-5">{{ game[0].storage }}</div>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="row">
    <div class="col-12 lower_part">
      <div class="topic1"><b>PC Parts List</b></div>
      <div class="lower_part_list">
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-10">Intel Core i3 8100 3.6 GHz 4-core</div>
        </div>
        <div class="row">
          <div class="col-2">Motherboard</div>
          <div class="col-10">Gigabyte Auros B360 Gaming 3</div>
        </div>
        <div class="row">
          <div class="col-2">RAM</div>
          <div class="col-10">4GB DDR4 2666 MHz</div>
        </div>
        <div class="row">
          <div class="col-2">VGA</div>
          <div class="col-10">Gigabyte GForce GT 1030 2GB GDDR5</div>
        </div>
      </div>
    </div>
  </div> -->
</div>
  <!------------------------------->

  <!--Footer-->
  <app-footer></app-footer>
  <!---------->