<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--PC Part Details-->
<div class="container content">
  <div class="row">
    <div class="col-4 left_images">
      <img src="" class="imgs">
      <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 pro_name"><b>Product Name</b></div>
      </div>
      <div class="row">
        <div class="col-4">Brand Name</div>
        <div class="col-6">ASUS</div>
      </div>
      <div class="row">
        <div class="col-4">Item Weight</div>
        <div class="col-6">1.5 KG</div>
      </div>
      <div class="row">
        <div class="col-4">Product Dimensions</div>
        <div class="col-6">28.8*5.3*3.4 cm</div>
      </div>
      <div class="row">
        <div class="col-4">Color</div>
        <div class="col-6">Black</div>
      </div>
      <div class="row">
        <div class="col-4">Graphics Coprocessor</div>
        <div class="col-6">NVidia</div>
      </div>
      <div class="row">
        <div class="col-4">Graphics Chipset Brand</div>
        <div class="col-6">nVidia</div>
      </div>
      <div class="row">
        <div class="col-4">Waltage</div>
        <div class="col-6">600 walts</div>
      </div>
      <div class="row">
        <div class="col-4">Warranty</div>
        <div class="col-6">2 years</div>
      </div>
    </div>
  </div>

  <div class="container content2">
    <div class="row table_headers">
      <div class="col-3 text-center"><b>Vendor</b></div>
      <div class="col-3 text-center"><img src="" class="imgs2"></div>
      <div class="col-3 text-center"><img src="" class="imgs2"></div>
      <div class="col-3 text-center"><img src="" class="imgs2"></div>
    </div>
    <div class="row">
      <div class="col-3 text-center table_headers"><b>Price</b></div>
      <div class="col-3 text-center">Rs. 35,000.00</div>
      <div class="col-3 text-center">Rs. 45,000.00</div>
      <div class="col-3 text-center">Rs. 15,000.00</div>
    </div>
  </div>
  <!--Comment Section-->
  <div class="container content2">
    <div class="row">
      <div class="col-12 comment_topic"><b>Comments</b></div>
    </div>
    <div class="row">
      <div class="comment_list">
        <img src="" class="pro_pic">
        <div class="pro_name"><b>Name</b></div>
        <div class="comment">Comment</div>
      </div>
    </div>
    <div class="row">
      <div class="comment_list">
        <img src="" class="pro_pic">
        <div class="pro_name"><b>Name</b></div>
        <div class="comment">Comment</div>
      </div>
    </div>
  </div>
  <!------------------>
</div>
<!------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->