<header>
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="">
            <img src="assets/img/logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbar_content">
            <ul class="navbar-nav text-center ml-auto mr-lg-6">
                <li>
                    <a class="nav-link" href="">Home</a>
                </li>
                <li>
                    <a href="" class="nav-link">About Us</a>
                </li>
                <li>
                    <a href="" class="nav-link">Contact Us</a>
                </li>
                <li id="login_item">
                    <a href="/login" class="nav-link">Login/Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid second-nav text-white fixed-top" style="margin-top: 60px;">
        <div class="row">
                <div class="dropdown">
                    <button class="dropbtn">Browse Products</button>
                    <div class="dropdown-content">
                        <a href="browse/pcparts/all">PC Parts</a>
                        <a href="browse/laptops">Laptop</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">System Build</button>
                    <div class="dropdown-content">
                        <a href="build_for_gaming">Build For Requirement</a>
                        <a href="build_for_price">Build For Price</a> 
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href='laptop_comparison'>Laptop Comparison</a></button>
                </div> 
            
            <!-- <div class="col-2 sec-nav" id="nav2">System Build</div>
            <div id="bc">
                <div class="drop_down3">
                    <a href="" class="hover_link">Build For Price</a>
                </div>
                <div class="drop_down4">
                    <a href="" class="hover_link">Build For Gaming Requirements</a>
                </div>
            </div>

            <div class="col-2 sec-nav" id="nav3">
                <a href='browse/laptops'>Laptop Comparison</a>
            </div> -->
            <!-- <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"> -->

            <div class="col-5 text-center" id="abcd">
                <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                    <select name="search_type" id="search_type" class="form-control" formControlName="category">
                        <option value="">ACCESSORY</option>
                        <option value="motherboard">MOTHERBOARD</option>
                        <option value="cpu">CPU</option>
                        <option value="ram">RAM</option>
                        <option value="vga">VGA</option>
                        <option value="hard_disk">HARD DISK</option>
                    </select>
                    <input type="text" class="form-control search_field" formControlName="name" placeholder="Search" />
                    <button type="submit" class="btn btn-primary form-control">
                        <img src="../../assets/img/search.png">
                    </button>
                </form>

            </div>
            <!-- </form> -->
        </div>
    </div>

</header>