a{
    text-decoration: none;
    color: white;
}
.navbar {
    background: #314152;
}
.navbar .navbar-expand{
    background: grey;
    box-shadow: 1px 2px 2px 1px rgba(12, 12, 12, 0.11);
} 
.nav-link, .navbar-brand{
    color: #fff;
    letter-spacing: 1px;
    padding: 0 20px;
    font-family: 'Acme', sans-serif;
}
.nav-link:hover, .navbar-brand:hover{
    color: #fff;
}
.navbar-brand .nav-link:hover,
.navbar-brand .nav-link:focus{
    color: #fff;
    background: #F44336;
}
.navbar-brand span{
    color: #8BC34A;
}
.bg-light {
    background-color: rgba(0, 0, 0, 0.28) !important;
    
}
.nav-item .active {
    background-color: #F44336;
    color: #fff;
}
.search_box{
    float: right;
}
#search{
    border-radius: 5px;
}
.fields{
    display: inline-block;
}

@media(min-width: 1280px){
    .navbar-brand{
        font-size: 30px;
    }
    .btn{
        margin-left: 5px;
        margin-bottom: 5px;
        width: 50px;
        height: 30px;
        padding: 0;
    }
    .btn:hover{
        background-color: cornflowerblue;
    }
    .btn img{
        width: 18px;
        height: 20px;;
    }
    .search_field{
        height: 30px;
        width: 250px;
        display: inline;
    }
    .search_part{
        margin-left: 100px;
        margin-top: 5px;
    }
    #search_type{
        margin-right: 5px;
        height: 30px;
        cursor: pointer;
        padding: 0 10px 0 10px;
        display: inline;
        font-size: 14px;
        width: 160px;
    }
    #login_list{
        color: white;
        display: none;
    }
    .second-nav{
        background: #314152;
    }
    .sec-nav{
        /* margin-top: 5px; */
        border: 1px solid whitesmoke;
        text-align: center;
        margin-bottom: 5px;
        padding: 5px;
    }
    #nav1:hover, #nav2:hover, #nav3:hover{
        background: darkcyan;
        cursor: pointer;
    }
    ul li:hover > ul,
    ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }
    #ab {
        display: none;
        margin-left: -100px;
    }
    #bc {
        display: none;
    }
    .drop_down1{
        
        position: absolute;
        z-index: 5;
        margin-top: 35px;
        background-color: #314152;
        text-align: center;
        width: 225px;
        border: 1px solid white;
    }
    
    .drop_down2{
        position: absolute;
        z-index: 5;
        margin-top: 60px;
        background-color: #314152;
        text-align: center;
        width: 225px;
        border: 1px solid white;
    }
    .drop_down3{
        position: absolute;
        z-index: 5;
        margin-top: 35px;
        margin-left: 225px;
        background-color: #314152;
        text-align: center;
        width: 225px;
        border: 1px solid white;
    }
    .drop_down4{
        position: absolute;
        z-index: 5;
        margin-top: 60px;
        margin-left: 225px;
        background-color: #314152;
        text-align: center;
        width: 225px;
        border: 1px solid white;
    }
    .drop_down1:hover{
        background-color: cornflowerblue;
    }
    .drop_down2:hover{
        background-color: cornflowerblue;
    }
    .drop_down3:hover{
        background-color: cornflowerblue;
    }
    .drop_down4:hover{
        background-color: cornflowerblue;
    }
    #nav1:hover + #ab {
        display: block;
    } 
    #nav2:hover #bc {
        display: block;
    } 
}
@media(min-width: 992px){

}
@media(min-width: 768px){

}
@media(min-width: 576px){

}