<header>
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" routerLink="" routerLinkActive="active">
            <img src="assets/img/logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbar_content">
            <ul class="navbar-nav text-center ml-auto mr-lg-6">
                <li>
                    <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/about_us" routerLinkActive="active" class="nav-link">About Us</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact Us</a>
                </li>
                <li id="login_item">
                    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login/Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid second-nav text-white fixed-top" style="margin-top: 60px;">
        <div class="row">
            <div class="dropdown">
                <button class="dropbtn">Browse Products</button>
                <div class="dropdown-content">
                    <div routerLink="/browse/pcparts/cpu/all" routerLinkActive="active" class="drop_icons"><img src="assets/img/cpu.png" class="drop_pic">CPU</div>
                    <div routerLink="/browse/pcparts/motherboard/all" routerLinkActive="active" class="drop_icons"><img src="assets/img/motherboard.png" class="drop_pic">MOTHERBOARD</div>
                    <div routerLink="/browse/pcparts/ram/all" routerLinkActive="active" class="drop_icons"><img src="assets/img/ram.png"class="drop_pic">RAM</div>
                    <div routerLink="/browse/pcparts/vga/all" routerLinkActive="active" class="drop_icons"><img src="assets/img/vga.png" class="drop_pic">VGA</div>
                    <div routerLink="/browse/pcparts/hard_disk/all" routerLinkActive="active" class="drop_icons"><img src="assets/img/hard_disk.png" class="drop_pic">HARD DISK</div>
                    <div routerLink="/browse/laptops" routerLinkActive="active" class="drop_icons"><img src="assets/img/laptop.png" class="drop_pic">LAPTOPS</div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">System Build</button>
                <div class="dropdown-content">
                    <div routerLink="/build_for_gaming" routerLinkActive="active" class="drop_icons2"><img src="assets/img/gaming-pc.png"  class="drop_pic2">Build For Requirement</div>
                    <div routerLink="/build_for_price" routerLinkActive="active" class="drop_icons2"><img src="assets/img/build_price.png"  class="drop_pic2">Build For Price</div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <a routerLink="/laptop_comparison" routerLinkActive="active">Laptop Comparison</a>
                </button>
            </div>

            <div class="col-5 text-center" id="abcd">
                <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                    <select name="search_type" id="search_type" class="form-control" formControlName="category">
                        <option value="all">ACCESSORY</option>
                        <option value="motherboard">MOTHERBOARD</option>
                        <option value="cpu">CPU</option>
                        <option value="ram">RAM</option>
                        <option value="vga">VGA</option>
                        <option value="hard_disk">HARD DISK</option>
                    </select>
                    <input type="text" class="form-control search_field" formControlName="name" placeholder="Search" />
                    <button type="submit" class="btn btn-primary form-control">
                        <img src="../../assets/img/search.png">
                    </button>
                </form>

            </div>
            <!-- </form> -->
        </div>
    </div>

</header>