<header>
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="">
            <img src="assets/img/logo.png" height="40px">
        </a>
        <div class="collapse navbar-collapse" id="navbar_content">
            <ul class="navbar-nav text-center ml-auto mr-lg-6">
                <li>
                    <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="" class="nav-link">About Us</a>
                </li>
                <li>
                    <a href="" class="nav-link">Contact Us</a>
                </li>
                <li id="login_item">
                    <a href="" class="nav-link">Login/Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid second-nav text-white fixed-top" style="margin-top: 60px;">
        <div class="row">
            <div class="col-2 sec-nav" id="nav1"><a href="">Browse Products</a></div>
            <div class="col-2 sec-nav" id="nav2">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">System Build</a>
                <ul class="dropdown-menu" data-toggle="dropdown">
                    <li><a href="">Price</a></li>
                    <li><a href="">Gaming Requirements</a></li>
                </ul>
            </div>
            <div class="col-2 sec-nav" id="nav3"><a href="">Laptop Comparison</a></div>
            <div class="col-5 text-center">
                <select name="search_type" id="search_type" class="form-group">
                    <option value="0">ACCESSORY</option>
                    <option value="1">VGA</option>
                    <option value="2">CPU</option>
                    <option value="3">RAM</option>
                    <option value="3">MOTHERBOARD</option>
                </select>
                <input type="text" class="search_field" placeholder="Search" />
                <button type="button" class="btn btn-primary"><img src="assets/img/search.png" /></button>
            </div>
        </div>
    </div>

</header>