<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>
<div class="container content">
  <div class="row">
    <!--Left Side Laptop section-->
    <div class="col-6 left_side">
      <img src="" class="imgs">
      <div class="text-center pro_name">Dell INSPIRON i5</div>
      <div class="row">
        <div class="col-5">
          <div>Display</div>
        </div>
        <div class="col-7">
          <div>15.6'(39.62 cm) display, 1920*1080 px</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Storage</div>
        </div>
        <div class="col-7">
          <div>1TB HDD</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Processor</div>
        </div>
        <div class="col-7">
          <div>Intel Core i3(7th Gen) Processor</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>RAM</div>
        </div>
        <div class="col-7">
          <div>4GB DDR4 RAM</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Graphics Memory</div>
        </div>
        <div class="col-7">
          <div>2GB</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Clockspeed</div>
        </div>
        <div class="col-7">
          <div>2.3GHz</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Graphic Processor</div>
        </div>
        <div class="col-7">
          <div>AMD Radeon 520</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center choice"></div>
        </div>
      </div>
    </div>
    <!---------------------------->
    <!--Right Side Laptop section-->
    <div class="col-6 right_side">
      <img src="" class="imgs">
      <div class="text-center pro_name">Dell INSPIRON i5</div>
      <div class="row">
        <div class="col-5">
          <div>Display</div>
        </div>
        <div class="col-7">
          <div>15.6'(39.62 cm) display, 1920*1080 px</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Storage</div>
        </div>
        <div class="col-7">
          <div>1TB HDD</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Processor</div>
        </div>
        <div class="col-7">
          <div>Intel Core i3(7th Gen) Processor</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>RAM</div>
        </div>
        <div class="col-7">
          <div>4GB DDR4 RAM</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Graphics Memory</div>
        </div>
        <div class="col-7">
          <div>2GB</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Clockspeed</div>
        </div>
        <div class="col-7">
          <div>2.3GHz</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div>Graphic Processor</div>
        </div>
        <div class="col-7">
          <div>AMD Radeon 520</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center choice">More Computational Power Than Other One</div>
        </div>
      </div>
    </div>
    <!----------------------------->
  </div>
</div>
<!--Footer-->
<app-footer></app-footer>
<!---------->