<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Search PC Parts-->

<body>
  <div class="container-fluid content">
    <div class="row">
      <!--Left Bar-->
      <div class="col-3">
        <div class="row">
          <div class="left_bar text-white">
            <div class="left_topic1">
              <b>CATEGORIES</b>
            </div>
            <ng-template [ngIf]="search.category=='ram'" [ngIfElse]="elseBlockram">
              <div class="left_bar_names left_nav_hover left_nav a">RAM</div>
            </ng-template>
            <ng-template #elseBlockram>
              <a href="/browse/pcparts/ram/{{ search.name }}">
                <div class="left_bar_names left_nav a">RAM</div>
              </a>
            </ng-template>
            <ng-template [ngIf]="search.category=='vga'" [ngIfElse]="elseBlockvga">
              <div class="left_bar_names left_nav_hover left_nav a">VGA</div>
            </ng-template>
            <ng-template #elseBlockvga>
              <a href="/browse/pcparts/vga/{{ search.name }}">
                <div class="left_bar_names left_nav a">VGA</div>
              </a>
            </ng-template>
            <ng-template [ngIf]="search.category=='cpu'" [ngIfElse]="elseBlockcpu">
              <div class="left_bar_names left_nav_hover left_nav a">CPU</div>
            </ng-template>
            <ng-template #elseBlockcpu>
              <a href="/browse/pcparts/cpu/{{ search.name }}">
                <div class="left_bar_names left_nav a">CPU</div>
              </a>
            </ng-template>
            <ng-template [ngIf]="search.category=='motherboard'" [ngIfElse]="elseBlockmotherboard">
              <div class="left_bar_names left_nav_hover left_nav a">MOTHERBOARD</div>
            </ng-template>
            <ng-template #elseBlockmotherboard>
              <a href="/browse/pcparts/motherboard/{{ search.name }}">
                <div class="left_bar_names left_nav a">MOTHERBOARD</div>
              </a>
            </ng-template>
            <ng-template [ngIf]="search.category=='hard_disk'" [ngIfElse]="elseBlockhardDisk">
              <div class="left_bar_names left_nav_hover left_nav a">HARD DISK</div>
            </ng-template>
            <ng-template #elseBlockhardDisk>
              <a href="/browse/pcparts/hard_disk/{{ search.name }}">
                <div class="left_bar_names left_nav a">HARD DISK</div>
              </a>
            </ng-template>

            <div class="left_bar_last">
              <div class="text-center">Sort By</div>
              <div class="text-center">
                <select class="form-control drop" (change)="getSortedProducts($event.target.value)">
                  <option value="0">Best Products</option>
                  <option value="1">Price</option>
                  <option value="2">Features</option>
                  <option value="3">User Ratings</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------->
      <!--Right Side-->
      <ng-template [ngIf]="isVisible" [ngIfElse]="elseisVisible">
        <ng-template [ngIf]="code != null" [ngIfElse]="elseCode">
          <ng-template [ngIf]="code != '000'" [ngIfElse]="elseBlock">
            <div class="col-9 he" id="right_side">
              <div id="right_topic">Searched Product : {{ search.name }}</div>

              <div *ngFor="let p of pcParts | paginate: { itemsPerPage: count, currentPage: c }">
                <div class="item_list">
                  <div class="row">
                    <div class="col-2">
                      <img src="{{ p.image }}" height="75px" width="75px">
                    </div>
                    <div class="col-10 text-white">
                      <div class="row" id="pc_part_name">
                        <a href="/product_details/{{search.category}}/{{p.id}}">{{ p.name }}</a>
                      </div>
                      <div class="row">{{ p.speed }}</div>
                      <div class="row">Rs. {{ p.price }} /=</div>
                      <div class="row">
                        <span style="color: green;font-size: 25px;"><b>+ {{ p.user_rating }}%</b></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Including the pagination control.-->
              <div class="text-right">
                <pagination-controls (pageChange)="c = $event"></pagination-controls>
              </div>

            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="col-9 he" id="right_side">
              <div id="right_topic">Searched Product : {{ search.name }}</div>
              <div class="no_data text-center">No Data Available</div>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #elseCode>
          <div class="col-9 he" id="right_side">
            <div id="right_topic">Searched Product : {{ search.name }}</div>
            <div class="no_data text-center">No Data Available</div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #elseisVisible>
        <div class="col-9 he" id="right_side">
          <div id="right_topic">Searched Product : {{ search.name }}</div>
          <div class="no_data text-center"><img src="../../assets/img/ajax-loader.gif" height="100" width="100" /></div>
        </div>
      </ng-template>
      <!-------------->
    </div>
  </div>
</body>
<!------------------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->