<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<!--Search PC Parts-->

<body>
  <div class="container-fluid content">

  </div>
</body>

<body>
  <div class="container-fluid content">
    <div class="row">
      <!--Left Bar-->
      <div class="col-3">
        <div class="row">
          <div class="left_bar text-white">
            <div class="left_topic1">
              <b>CATEGORIES</b>
            </div>
            <div class="left_bar_names left_nav" routerLink="/browse/pcparts/ram/all" routerLinkActive="active">RAM</div>
            <div class="left_bar_names left_nav" routerLink="/browse/pcparts/vga/all" routerLinkActive="active">VGA</div>
            <div class="left_bar_names left_nav" routerLink="/browse/pcparts/cpu/all" routerLinkActive="active">CPU</div>
            <div class="left_bar_names left_nav" routerLink="/browse/pcparts/motherboard/all" routerLinkActive="active">MOTHERBOARD</div>
            <div class="left_bar_names left_nav" routerLink="/browse/pcparts/hard_disk/all" routerLinkActive="active">HARD DISK</div>
            <div class="left_bar_last">
              <div class="text-center">Sort By</div>
              <div class="text-center">
                <select class="form-control drop">
                  <option>Ratings</option>
                  <option>Price</option>
                  <option>Features</option>
                  <option>Best Products</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-------------->
       <!----------------->
      <!--Right Side Item List-->
      <div class="col-9 right_side text-white">
        <div class="row item_line">
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/RAM-Transparent-Images-PNG.png" class="imgs">
            <div class="text-center">Kingston RAM 8GB</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/Motherboard-Background-PNG.png" class="imgs">
            <div class="text-center">Gigabyte G45 Motherboard</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/Graphics-Card-Transparent-Background.png" class="imgs">
            <div class="text-center">Nvidia 1050 VGA</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
        </div>
        <div class="row item_line">
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/Graphics-Card-PNG-Transparent-HD-Photo.png" class="imgs">
            <div class="text-center">ASUS ROG 1080ti VGA</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/Motherboard-PNG-Image.png" class="imgs">
            <div class="text-center">ASUS z270f Motherboard</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/SSD-PNG-Transparent-Picture.png" class="imgs">
            <div class="text-center">Samsung SSD 2TB</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
        </div>
        <div class="row item_line">
          <div class="item_list">
            <img src="http://www.pngmart.com/files/7/SSD-PNG-Background-Image.png" class="imgs">
            <div class="text-center">Sanddisk SSD 1TB</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/4/CPU-Processor-PNG-Image.png" class="imgs"> 
            <div class="text-center">Core i3 interl 3300</div>
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>

          </div>
          <div class="item_list">
            <img src="http://www.pngmart.com/files/4/CPU-Processor-PNG-File.png" class="imgs">
            <div class="text-center">Intel Xeon processor</div> 
            <button class="btn btn-primary btn_lap" routerLink="/product_details" routerLinkActive="active">More Details</button>
          </div>
           
        </div>
        <!--Pagination-->
        <div class="row item_line">
          <div class="col-12">
            <div id="pagination">
              <span class="pages">1</span>
              <span class="pages">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span>
            </div>
          </div>
        </div>
        <!-------------->
       

      <ng-template #elseBlock>
        <div class="col-9 he" id="right_side">
          <div id="right_topic">Searched Product {{ name }}</div>
          <div class="no_data text-center">No Data Available</div>
        </div>
      </ng-template>
      <!-------------->
    </div>
  </div>
 
<!------------------------------->

<!--Footer-->
<app-footer></app-footer>
<!---------->