<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TechRing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!--Left Bar-->
      <div class="col-3">
        <div class="row">
          <div class="col-10 left_bar text-white">
            <div class="left_bar_names" id="left1">MotherBoard</div>
            <div class="left_bar_names" id="left2">VGA</div>
            <div class="left_bar_names" id="left3">RAM</div>
            <div class="left_bar_names" id="left4">PROCESSOR</div>
            <div class="left_bar_names" id="left5">HARD DISK</div>
            <div class="left_bar_last">
              <div class="text-center">Sort By</div>
              <div class="text-center">
                <select>
                  <option>Ratings</option>
                  <option>Price</option>
                  <option>Features</option>
                  <option>Best Products</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-------------->
      <!--Right Side-->
      <div class="col-9" id="right_side">
        <div id="right_topic">Product Name</div>
        <div class="item_list">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="75px" width="75px">
            </div>
            <div class="col-10 text-white">
              <div class="row">Product Name</div>
              <div class="row">ABCD</div>
              <div class="row">Rs. 2500.00</div>
              <div class="row">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="item_list">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="75px" width="75px">
            </div>
            <div class="col-10 text-white">
              <div class="row">Product Name</div>
              <div class="row">ABCD</div>
              <div class="row">Rs. 2500.00</div>
              <div class="row">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="item_list">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="75px" width="75px">
            </div>
            <div class="col-10 text-white">
              <div class="row">Product Name</div>
              <div class="row">ABCD</div>
              <div class="row">Rs. 2500.00</div>
              <div class="row">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="item_list">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="75px" width="75px">
            </div>
            <div class="col-10 text-white">
              <div class="row">Product Name</div>
              <div class="row">ABCD</div>
              <div class="row">Rs. 2500.00</div>
              <div class="row">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="item_list">
          <div class="row">
            <div class="col-2">
              <img src="../../assets/img/cpu.png" height="75px" width="75px">
            </div>
            <div class="col-10 text-white">
              <div class="row">Product Name</div>
              <div class="row">ABCD</div>
              <div class="row">Rs. 2500.00</div>
              <div class="row">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
        <!--Pagination-->
        <div class="row">
          <div class="col-12">
            <div id="pagination">
              <span class="pages">1</span>
              <span class="pages">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span>
            </div>
          </div>
        </div>
        <!-------------->
      </div>
      <!-------------->
    </div>
  </div>
</body>

</html>
<script src="../../assets/js/main.js"></script>