body{
    margin: 0;
    size: 100%;
    margin-bottom: 20px;
}
.container-fluid{
    padding: 0 15px 0 15px;
}
a{
    text-decoration: none;
}
.checked{
    color: orange;
}
#pc_part_name{
    cursor: pointer;
}

@media only screen and (max-width:576px){

    .content{
        margin-top: 75px;
    }
    .left_bar{
        display: none;
    }
    #right_side{
        padding-top: 10px;
    }
    #right_topic{
        height: 40px;
        background: darkslateblue;
        color: white;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 5px;
    }
}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:1200px){

}

@media only screen and (min-width:1200px){
    .content{
        margin-top: 100px;
    }
    .left_bar{
        background: #335b87;
        height: 450px;
        padding: 5px 0 20px 0;
        margin: 60px 30px 0 40px;
        width: 100%;
        border-radius: 5px;
    }
    .left_bar_names{
        padding: 10px 0 10px 30px;
        border-top : 1px solid white;
        border-bottom : 1px solid white;
    }
    .left_bar_last{
        margin-top: 40px;
    }
    .left_nav:hover {
        background: steelblue;
        cursor: pointer;
        width: 115%;
        margin-left: -20px;
    }
    .left_nav_hover {
        background: steelblue;
        cursor: pointer;
        width: 115%;
        margin-left: -20px;
    }
    #right_side{
        padding-top: 10px;
    }
    #right_topic{
        height: 40px;
        background: darkslateblue;
        color: white;
        border-radius: 5px;
        padding-left: 20px;
        padding-top: 5px;
    }
    .item_list{
        padding: 15px;
        background: #335b87;
        border-radius: 5px;
        margin: 10px 0 10px 0;
    }
    #pagination{
        float: right;
    }
    .pages{
        background: darkslateblue;
        padding: 5px 10px;
        margin-left: 8px;
        color: white;
        cursor: pointer;
    }
    .left_bar .drop{
        width: 150px;
        margin-left: 60px;
        cursor: pointer;
    }
    .left_topic1{
        padding: 10px 0 20px 0;
        text-align: center;
    }
    .no_data{
        padding: 25px;
    }
}

@media only screen and (max-width:576px){

    .content{
        margin-top: 75px;
    }
}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:992px){

}

@media only screen and (max-width:1200px){

}

@media only screen and (min-width:1200px){

}