<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<body>
  <div class="container content1">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/img/image1.png" alt="First slide" class="img_slider">
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <img class="d-block w-100" src="../../assets/img/image3.png" alt="Third slide" class="img_slider">
            </div>
            <div class="col-6">
              <img class="d-block w-80" src="../../assets/img/image4.png" alt="Third slide" class="img_slider">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/image2.png" alt="Second slide" class="img_slider">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/image5.png" alt="Second slide" class="img_slider">
        </div>
      </div>
    </div>

    <div class="row topic">
      <div class="col-12">
        <span>
          <b>PC Parts</b>
        </span>
      </div>
    </div>

    <div class="row content2">
      <div class="item_list text-center">
        <img src="../../assets/img/lap1.png" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap2.png" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap3.webp" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap3.webp" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
    </div>

    <div class="row topic">
      <div class="col-12">
        <span>
          <b>Laptops</b>
        </span>
      </div>
    </div>

    <div class="row content2">
      <div class="item_list text-center">
        <img src="../../assets/img/lap1.png" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap2.png" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap3.webp" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
      <div class="item_list text-center">
        <img src="../../assets/img/lap3.webp" class="pro_pic">
        <div>
          <b>Product Name</b>
        </div>
        <div>Feature 01</div>
        <div>Vendor</div>
        <div>Rs. Price /=</div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-dark">
    <div class="row build_price">
      <div class="col-4">
        <label>
          <b>System Build For Price</b>
        </label>
        <br>
        <button type="button" class="btn btn-success" routerLink="/build_for_price" routerLinkActive="active">
          <b>View</b>
        </button>
      </div>
      <div class="col-4">
        <img src="../../assets/img/pc.png" class="pc_img">
      </div>
      <div class="col-4">
        <p>Building your own PC and need ideas on where to get started? Explore our build guides which cover systems for a variety of use-cases and budgets.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row build_game">
      <div class="col-4">
        <label>
          <b>System Build For Gaming Requirements</b>
        </label>
        <br>
        <button type="button" class="btn btn-success" routerLink="/build_for_gaming" routerLinkActive="active">
          <b>View</b>
        </button>
      </div>
      <div class="col-4">
        <img src="../../assets/img/game.png" class="pc_img">
      </div>
      <div class="col-4">
        <p>Building your own PC and need ideas on where to get started? Explore our build guides which cover systems for a variety of use-cases and budgets.</p>
      </div>
    </div>
  </div>

  <div class="container" id="container">
    <div class="row m-4">
      <div class="col-12">
        <h3 class="text-center">About Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="members text-center">
          <img src="../../assets/img/sajith.jpg" class="mem_img" style="width: 150px;">
        </div>
        <div class="members text-center">
          <img src="../../assets/img/dilhara.jpg" class="mem_img" style="width: 150px;">
        </div>
        <div class="members text-center">
          <img src="../../assets/img/member3.jpg" class="mem_img" style="width: 80px;">
        </div>
        <div class="members text-center">
          <img src="../../assets/img/sachith.jpg" class="mem_img" style="width: 150px;">
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12">
        <p>4 Sri Lanka Institute of Information Technology(SLIIT) undergraduates came up with an idea of making a web solution for PC assemblers, pc parts and laptop seekers as well as vendors who sell those items.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
          <agm-marker [latitude]="lat" [longitude]="lng" [label]="label"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col-12 m-5">
        <div class="text-center"><h4>Where Can You Find Us</h4></div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <h5>Address</h5>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <h5>Additional Details</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>Address: SLIIT Malabe Campus, New Kandy Rd, Malabe 10115</p>
        <p>Phone: 0117 544 801</p>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <p>The Sri Lanka Institute of Information Technology is a private university in Sri Lanka specializing in technology, engineering and business. It is an autonomous non state university in Sri Lanka, awarding undergraduate and taught- and research postgraduate degrees</p>
      </div>
    </div>
  </div>

  <div class="container" id="container">
    <div class="row m-4">
      <div class="col-12">
        <h3 class="text-center"><b>Contact Us</b></h3>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-6">
        <h6>More Details</h6>

      </div>
      <div class="col-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Email</label>
              <input type="text" placeholder="abc@gmail.com" id="email" name="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
              <label>Message</label>
              <textarea type="text" placeholder="Message" name="message" id="message" formControlName="message" class="form-control"></textarea>
          </div>
          <div class="form-group">
              <input type="submit" class="btn btn-success form-control" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<!--Footer-->
<app-footer></app-footer>
<!---------->

