.content1{
    margin-top: 120px;
    margin-bottom: 35px;
}
.content2{
    margin-top: 25px;
}
.item_list{
    border: 1px solid black;
    padding: 10px;
}
.topic{
    background-color: darkslateblue;
    color: white;
    border-radius: 5px;
    padding: 12px;
    margin-top: 25px;
}