<body>
  <div class="container content1">
    <!-- <img src="../../assets/img/image1.jpg" height="100%" width="100%"> -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/img/image1.png" alt="First slide" height="550px">
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <img class="d-block w-100" src="../../assets/img/image3.png" alt="Third slide" height="550px">
            </div>
            <div class="col-6">
              <img class="d-block w-80" src="../../assets/img/image4.png" alt="Third slide" height="550px">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/image2.png" alt="Second slide" height="550px">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/img/image5.png" alt="Second slide" height="550px">
        </div>
      </div>
    </div>

    <div class="row topic">
      <div class="col-12">
        <span><b>PC Parts</b></span>
      </div>
    </div>

    <div class="row content2">
      <div class="col-3 item_list">
        <img src="../../assets/img/logo.png" height="150" width="150">
      </div>
      <div class="col-1"></div>
      <div class="col-3 item_list">

      </div>
      <div class="col-1"></div>
      <div class="col-3 item_list">

      </div>
    </div>

    <div class="row topic">
      <div class="col-12">
        <span><b>Laptops</b></span>
      </div>
    </div>

    <div class="row content2">
      <div class="col-3 item_list">
        <img src="../../assets/img/logo.png" height="150" width="150">
      </div>
      <div class="col-1"></div>
      <div class="col-3 item_list">

      </div>
      <div class="col-1"></div>
      <div class="col-3 item_list">

      </div>
    </div>
  </div>
</body>