<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<div class="container content">
  <div class="row">
    <div class="col-12 topic1">
      <h3 class="text-white text-center">User Profile</h3>
    </div>
  </div>
  <div class="row content1">
    <div class="col-3">
      <img src="" class="pro_pic">
      <div class="text-center">
        <button class="btn btn-primary" id="change_pro_pic" name="change_pro_pic">Change Profile Picture
        </button>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <div class="container-fluid pro_details">
        <div class="row">
          <div class="col-3">Name</div>
          <div class="col-9">{{ model.user_object.name }}</div>
        </div>
        <div class="row">
          <div class="col-3">Username</div>
          <div class="col-9">{{ model.user_object.username }}</div>
        </div>
        <div class="row">
          <div class="col-3">Email</div>
          <div class="col-9">{{ model.user_object.email }}</div>
        </div>
        <div class="row">
          <div class="col-3">Password</div>
          <div class="col-9">{{ model.user_object.password }}</div>
        </div>
        <div class="row">
          <div class="col-3">Type</div>
          <div class="col-9">Vendor</div>
        </div>
        <div class="row">
          <div class="col-3">Account Created Date</div>
          <div class="col-9">2019-02-01</div>
        </div>
        <div class="row">
          <div class="col-8">
            <div>
              <button name="edit_pro" id="edit_pro" class="btn btn-success" data-toggle="modal"
                data-target="#createModel">Edit Profile</button>
            </div>
            <ng-template [ngIf]="model.type=='vendor'">
              <div>
                <input type="file" name="upload_csv" id="upload_csv" class="btn btn-info" value="Upload Product CSV">
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template [ngIf]="model.type=='vendor'">
    <div class="row product_details">
      <div class="col-12">
        <div class="row">
          <div class="col-12 topic1">
            <h3 class="text-center text-white">Product Details</h3>
          </div>
        </div>



        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-borderless">
          <tbody [formGroup]="model.userForm">
            <h3 class="text-center">User Account Edit</h3>
            <tr>
              <th>
                <b>Name</b>
              </th>
              <td>
                <input type="text" class="form-control text_box" formControlName="name" placeholder="Name" required>
              </td>
              <td> </td>
            </tr>
            <tr>
              <th>
                <b>Username</b>
              </th>
              <td>
                <input type="text" class="form-control text_box" formControlName="username" placeholder="Username"
                  required>
              </td>
              <td> </td>
            </tr>
            <tr>
              <th>
                <b>Email</b>
              </th>
              <td>
                <input type="email" class="form-control text_box" formControlName="email" placeholder="Email" required>
              </td>
              <td> </td>
            </tr>
            <tr>
              <th>
                <b>Password</b>
              </th>
              <td>
                <input type="password" class="form-control text_box" formControlName="password" placeholder="Password"
                  required>
              </td>
              <td> </td>
            </tr>
            <tr>
              <th><b>Street line 1</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="street1" placeholder="Street Line 1"
                  required>
              </td>
              <td> </td>
            </tr>
            <tr>
              <th><b>Street Line2</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="street2" placeholder="Street Line 2"
                  required>
              </td>
            </tr>
            <tr>
              <th><b>City</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="city" placeholder="City/Town"
                  required>
              </td>
            </tr>
            <tr>
              <th><b>Province</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="province" placeholder="Province"
                  required>
              </td>
            </tr>
            <tr>
              <th><b>Telephone</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="tel" placeholder="Telephone" required>
              </td>
            </tr>
            <tr>
              <th><b>Mobile</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="mobile" placeholder="Mobile" required>
              </td>
            </tr>
            <tr>
              <th><b>Credit Card/ Debit Card</b></th>
              <td>
                <input type="text" class="form-control text_box" formControlName="credit"
                  placeholder="Credit Card/Debit Card" required>
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit" class="btn btn-success" data-dismiss="modal"
                  (click)="editUserInfo()">Submit</button>
                &nbsp;
                <button type="reset" class="btn btn-info">Clear</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<app-footer></app-footer>
<!---------->