<!--Menu Bar-->
<app-menu-bar></app-menu-bar>
<!------------>

<div class="container content">
  <div class="row">
    <div class="col-12 topic1">
      <h3 class="text-white text-center">User Profile</h3>
    </div>
  </div>
  <div class="row content1">
    <div class="col-3">
      <img src="" class="pro_pic">
      <div class="text-center">
        <button class="btn btn-primary" id="change_pro_pic" name="change_pro_pic">Change Profile Picture
        </button>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <div class="container-fluid pro_details">
        <div class="row">
          <div class="col-3">Name</div>
          <div class="col-9">Name of the Account Holder</div>
        </div>
        <div class="row">
          <div class="col-3">Username</div>
          <div class="col-9">Username</div>
        </div>
        <div class="row">
          <div class="col-3">Email</div>
          <div class="col-9">viraj@gmail.com</div>
        </div>
        <div class="row">
          <div class="col-3">Password</div>
          <div class="col-9">Password</div>
        </div>
        <div class="row">
          <div class="col-3">Type</div>
          <div class="col-9">Vendor</div>
        </div>
        <div class="row">
          <div class="col-3">Account Created Date</div>
          <div class="col-9">2019-02-01</div>
        </div>
        <div class="row">
          <div class="col-8">
            <div>
              <button name="edit_pro" id="edit_pro" class="btn btn-success">Edit Profile</button>
            </div>
            <ng-template [ngIf]="type=='vendor'">
              <div>
                <button name="upload_csv" id="upload_csv" class="btn btn-info">Upload Product CSV</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template [ngIf]="type=='vendor'">
    <div class="row product_details">
      <div class="col-12">
        <div class="row">
          <div class="col-12 topic1">
            <h3 class="text-center text-white">Product Details</h3>
          </div>
        </div>
        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
        <div class="row pro_list">
          <div class="col-2">
            <img src="" class="pro_img">
          </div>
          <div class="col-1"></div>
          <div class="col-9">
            <div>Product Name</div>
            <div>Price</div>
            <div>URL</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!--Footer-->
<app-footer></app-footer>
<!---------->